html{
	height: 100%;
}
body{
	background-image: url(./img/shutterstock_1435374326.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	color:white;
}
h1{
	font-size: 5em;
	font-weight: bold;
	font-family: 'Space Mono', monospace;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);
}
h3{
font-size:17px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);

}
#content{
	text-align:left;
	padding-top: 15%;

}
hr{
/* a horizontal rule can really help organize and 'clean up' landing pages... */
	visibility:hidden;
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.btn-default{
	font-family: 'Space Mono', monospace;
}
.cirlediv {
	max-width: 700px;
	width: 100%;
  }
  .center {
	margin: auto;
	width: 75%;

  }
  .circular {

	margin-right: auto;
	margin-left: auto;	/* display items as block elements, inline positioning */
	display: inline-block;
	/* set the height of the image */
	height: 200px;
	/* hide the link text */
	text-indent: -9999px;
	/* set the width of the image */
	width: 200px;
	
	/* use a radius to make the image into a circular shape */
	border-radius: 150px;
	  -webkit-border-radius: 150px;
	  -moz-border-radius: 150px;
  
	/* Add shadow to the box */
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }
  

  

  
  .btn-ds {
	background: url(./img/dsSS.jpeg) no-repeat;
	background-position: center;
  }
  
  .btn-jm {
		background: url(./img/jmSS.jpeg) no-repeat;
		background-position: center;

  }  
  .btn-dv {
	background: url(./img/dvSS.jpeg) no-repeat;
	background-position: center;

  }
  .btn-ktt {
	background: url(./img/kttSS.jpeg) no-repeat;
	background-position: center;

  }
  .btn-kv {
	background: url(./img/kvSS.jpeg) no-repeat;
	background-position: center;

}